
body div a:active {
	color: #ea566b;
	text-decoration: none;
}

a:link {
	color: #569fea;
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

a:visited {
	color: #be56ea;
	text-decoration: none;
}

a img {
	border: none;
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body {
/*	background-color: #020202; */
	background-image: url("../img/background.png");
	background-repeat: repeat;
	color: #DAFADA;
    font-family: monospace;
	font-size: 12pt;
	height: 100%;
}

h1, h2, h3 {
	font-weight: bold;
	text-align: center;
}

h1 {
	color: #DADAFA;
	font-size: 24pt;
}

h2 {
	color: #FADADA;
	font-size: 18pt;
}

h3 {
	color: #DADAFA;
	font-size: 16pt;
}

#banner {
	background-color: rgba(2,2,2,0.6);
	padding: 10px 0px;
	width: 720px;
}

#banner img {
	display: block;
	margin: 0px auto;
	height: 56px;
}

#console {
	background-color: #FFFFFF;
	margin: 10px 0px;
	width: 100%;
}

#console>h2 {
	background-color: #101010;
}

#directionsArea * {
	text-align: center;
}

.directionPanel {
	border: 2px;
	border-color: #FFFFFF;/*rgba(255,255,255,0.2);*/
	border-style: solid;
	width: 350px;
}

.directionPanel>img {
	display: block;
	margin: 0px auto;
	width: 150px;
}

.directionPanel>h3 {
	margin-top: 5px;
}

.directionPanel>p {
	margin-bottom: 5px;
}

#directionsTable {
	border-collapse: collapse;
}

#gameCanvas {
	height: 720px;
	width: 720px;
	z-index: 1;
}

#infoArea {
	background-color: rgba(2,2,2,0.6);
	padding: 1px 0px;
	width: 720px;
}

#infoArea>* {
	margin: 10px;
}

#musicArea>p {
	text-align: center;
}

#noJavaScriptArea {
	background-color: rgba(2,2,2,0.6);
	margin: 10px 0px;
	padding: 1px 0px;
	width: 720px;
}

#noJavaScriptArea>* {
	margin: 10px;
}

#optionsArea>p {
	margin: 0px auto;
	width: 100%;
}

#pageColumn {
/*	background-image: url("../img/background.png"); */
/*	background-repeat: repeat; */
	height: 100%;
	padding: 10px;
	margin: 0px auto;
	width: 720px;
}

#pauseScreen {
	position: absolute;
	background-color: rgba(2,2,2,0.6);
	height: 720px;
	margin: 0px auto;
	left: 0px;
	top: 0px;
	width: 720px;
	z-index: 3;
}

#pauseScreenTitle {
	display: none;
	margin: 180px auto 10px auto;
	width: 300px;
}

#playArea {
	position: relative;
	font-weight: bold;
	height: 720px;
	left: 0px;
	margin: 10px 0px;
	top: 0px;
	width: 720px;
}

#playAreaButtons {
	position: absolute;
	height: 70px;
	left: 0px;
	top: 640px;
	width: 720px;
	z-index: 5;
}

#playAreaButtonsLeftContainer {
	position: relative;
	float: left;
	height: 70px;
	margin-left: 10px;
	width: 70px;
}

#playAreaButtonsRightContainer {
	position: relative;
	float: right;
	height: 70px;
	margin-right: 10px;
	width: 70px;
}

#playAreaButtons img {
	position: absolute;
	display: none;
	height: 70px;
	width: 70px;
}

#problemScreen {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	height: 720px;
	margin: 0px auto;
	left: 0px;
	top: 0px;
	width: 720px;
	z-index: 4;
}

#problemText {
	color: #DD0000;
	font-size: 20pt;
	height: 100%;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

#statsTable {
	display: none;
	margin: 10px auto;
	width: 300px;
}

#statsTable>td {
	width: 150px;
}

.textColumn {
	float: left;
	text-align: left;
	width: 350px;
}

#topLevelDisplayArea {
	display: none;
	position: absolute;
	color: #FFFFFF;
	font-size: 14pt;
	left: 10px;
	text-align: left;
	top: 10px;
	width: 700px;
	z-index: 2;
}

#topScoreDisplayArea {
	display: none;
	position: absolute;
	color: #FFFFFF;
	font-size: 14pt;
	left: 10px;
	text-align: right;
	top: 10px;
	width: 700px;
	z-index: 2;
}

#unpauseButton {
	display: block;
	font-size: 18pt;
	height: 42px;
	margin: 339px auto 0px auto;
	width: 136px;
}