
* {
	margin: 0px;
	padding: 0px;
}

body {
#	background-color: #020202;
	background-image: url("../img/background.png");
	background-repeat: repeat;
	color: #CAEACA;
    font-family: sans-serif;
	font-size: 12pt;
	height: 100%;
}

h1, h2, h3 {
	font-weight: bold;
	text-align: center;
}

h1 {
	color: #CACAEA;
	font-size: 24pt;
}

h2 {
	color: #EACACA;
	font-size: 18pt;
}

h3 {
	color: #CACAEA;
	font-size: 20pt;
}

#banner {
	background-color: rgba(2,2,2,0.5);
	padding: 10px 0px;
	width: 720px;
}

#banner img {
	display: block;
	margin: 0px auto;
	height: 56px;
}

#console {
	display: none;
	background-color: #FFFFFF;
	margin: 10px 0px;
	width: 100%;
}

#console>h2 {
	background-color: #101010;
}

#gameCanvas {
	height: 720px;
	width: 720px;
	z-index: 1;
}

#infoArea {
	background-color: rgba(2,2,2,0.5);
	padding: 1px 0px;
	width: 720px;
}

#infoArea>* {
	margin: 10px;
}

#noJavaScriptArea {
	background-color: rgba(2,2,2,0.5);
	margin: 10px 0px;
	padding: 1px 0px;
	width: 720px;
}

#noJavaScriptArea>* {
	margin: 10px;
}

#pageColumn {
#	background-image: url("../img/background.png");
#	background-repeat: repeat;
	height: 100%;
	padding: 10px;
	margin: 0px auto;
	width: 720px;
}

#pauseScreen {
	position: absolute;
	background-color: rgba(2,2,2,0.5);
	height: 720px;
	margin: 0px auto;
	left: 0px;
	top: 0px;
	width: 720px;
	z-index: 3;
}

#pauseScreenTitle {
	display: none;
	margin: 180px auto 10px auto;
	width: 300px;
}

#playArea {
	position: relative;
	height: 720px;
	left: 0px;
	margin: 10px 0px;
	top: 0px;
	width: 720px;
}

#problemScreen {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	height: 720px;
	margin: 0px auto;
	left: 0px;
	top: 0px;
	width: 720px;
	z-index: 4;
}

#problemText {
	color: #DD0000;
	font-size: 20pt;
	height: 100%;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

#statsTable {
	display: none;
	margin: 10px auto;
	width: 300px;
}

#statsTable>td {
	width: 150px;
}

#topLevelDisplayArea {
	position: absolute;
	color: #FFFFFF;
	font-size: 14pt;
	left: 10px;
	text-align: left;
	top: 10px;
	width: 700px;
	z-index: 2;
}

#topScoreDisplayArea {
	position: absolute;
	color: #FFFFFF;
	font-size: 14pt;
	left: 10px;
	text-align: right;
	top: 10px;
	width: 700px;
	z-index: 2;
}

#unpauseButton {
	display: block;
	font-size: 18pt;
	height: 42px;
	margin: 239px auto 0px auto;
	width: 136px;
}