extends jackieLayout

block content
  h2 Resume
  p
    a(href='/documents/jackie_resume.pdf')
      | Jackie&apos;s resume (PDF)
    | .<br>
    a(href='/documents/jackie_resume.doc')
      | Jackie&apos;s resume (Word doc)
    | .
