extends jackieLayout

block content
  h2 Follow Jackie
  ul
    li: a(href='http://', target='_blank') LinkedIn
    li: a(href='http://', target='_blank') MLML site
    li: a(href='http://', target='_blank') The Drop In blog

  include footer