#aboutArea
  h2
    | About
  p
    | This game was made by 
    a(href='../levi/')
      | Levi Lindsey
    | .  Please let him know if you have any feedback, suggestions, random thoughts or if you find any bugs!  Talk to Levi at: 
    a(href='mailto:info@jackieandlevi.com?subject=That%20Squared%20Away%20app')
      | info@jackieandlevi.com
    | !
  p
    img(src='./images/github.png', alt='Github icon')
    | If you&apos;re one of those people who think code is cool, then fork me on GitHub! 
    a(href='https://github.com/levisl176/squared_away', target='_blank')
      | https://github.com/levisl176/squared_away
  p
    img(src='./images/android.png', alt='Android icon')
    | Also, this app is coming soon to the Android marketplace.

#console
  h2
    | Debug Console:
