doctype 5
html
  head
    title
      | Squared Away

    meta(charset='utf-8')
    meta(name='description', content='A tile-matching puzzle game')
    meta(name='viewport', content='width=device-width')

    link(rel='shortcut icon', href='./images/favicon.ico')
    link(rel='stylesheet', href='./stylesheets/squaredaway.css')
  body
    #pageColumn
      #banner
        img(src='./images/title.png', alt='Squared Away')

      #betaLabel
        h2
          | ALPHA

      #noJavaScriptArea
        p
          | Hey! This spiffy web app needs JavaScript in order to run. Come back with a browser that has JavaScript turned on!

      #playArea
        canvas#gameCanvas

        #topLevelDisplayArea
          | Level: 
          span#topLevelDisplayData
            | 1

        #topScoreDisplayArea
          | Score: 
          span#topScoreDisplayData
            | 0

        #hintTextArea

        img(id='helpButton', class='canvasButton button', src='./images/help.png', alt='help')
        img(id='musicButton', class='canvasButton button', src='./images/music_on.png', alt='toggle music')
        img(id='sfxButton', class='canvasButton button', src='./images/sfx_on.png', alt='toggle sfx')

        div(id='mainMenuScreen', class='screen')
          img(id='quickPlayButton', class='button', src='./images/quick_play.png', alt='Quick play button')
          img(id='mainMenuScreenCustomPlayButton', src='./images/top_button_locked.png', alt='Custom play button')

          img(id='prevButton', class='button', src='./images/prev.png', alt='Previous chapter button')
          img(id='nextButton', class='button', src='./images/next.png', alt='Next chapter button')

          #chapterList
            img(id='chapter1', class='chapterItem', src='./images/chapter_1.png', alt='Chapter 1')
            img(id='chapter2', class='chapterItem', src='./images/chapter_locked.png', alt='Chapter 2')
            img(id='chapter3', class='chapterItem', src='./images/chapter_locked.png', alt='Chapter 3')
            img(id='chapter4', class='chapterItem', src='./images/chapter_locked.png', alt='Chapter 4')
            img(id='chapter5', class='chapterItem', src='./images/chapter_locked.png', alt='Chapter 5')
            img(id='chapter6', class='chapterItem', src='./images/chapter_locked.png', alt='Chapter 6')
            img(id='chapter7', class='chapterItem', src='./images/chapter_locked.png', alt='Chapter 7')
            img(id='chapter8', class='chapterItem', src='./images/chapter_locked.png', alt='Chapter 8')

          #chapterProgressIndicator
            | 1/8

        div(id='gameOverScreen', class='screen')
          h3#gameOverScreenHeader
            | Game Over
          h4#gameOverScreenSubHeader
          img(id='nextChapterButton', class='button', src='./images/next_chapter.png', alt='Next chapter button')
          img(id='gameOverScreenCustomPlayButton', src='./images/custom_play.png', alt='Custom play button')
          img(id='playAgainButton', class='button', src='./images/play_again.png', alt='Play again button')
          img(id='gameOverMainMenuButton', class='button', src='./images/main_menu.png', alt='Main menu button')
          table#statsTable
            tr
              td
                | Score:
              td#scoreData
            tr
              td
                | Level:
              td#levelData
            tr
              td
                | Time:
              td#timeData
            tr
              td
                | Layers destroyed:
              td#layersCollapsedData
            tr
              td
                | Squares destroyed:
              td#squaresCollapsedData
            tr
              td
                | Blocks used:
              td#blocksHandledData
            tr#collapseBombCountRow
              td
                | Collapse bombs used:
              td#collapseBombsUsedData
            tr#settleBombCountRow
              td
                | Settle bombs used:
              td#settleBombsUsedData

        div(id='pauseScreen', class='screen')
          h3#pauseScreenHeader
            | Game Paused
          h4#pauseScreenSubHeader
          #explanationTextArea
          img(id='pauseScreenPlayGameButton', class='button', src='./images/play_game.png', alt='Play game button')
          img(id='unpauseButton', class='button', src='./images/unpause.png', alt='Unpause game button')
          img(id='restartButton', class='confirmationButton button', src='./images/restart.png', alt='Restart game button')
          img(id='pauseMainMenuButton', class='confirmationButton button', src='./images/main_menu.png', alt='Main menu button')

        div(id='customPlayScreen', class='screen')
          h3#customPlayScreenHeader
            | Custom Play
          h4
            | Change the game parameters with the controls below.
          img(id='customPlayScreenPlayGameButton', class='button', src='./images/play_game.png', alt='Play game button')
          img(id='customPlayMainMenuButton', class='button', src='./images/main_menu.png', alt='Main menu button')

        div(id='loginScreen', class='screen')
          h3
            | Please enter your username: 
          input(type='text', size='20', placeholder='your username')
          // img(id='submitNameButton', class='button', src='./images/.png', alt='Submit')

        div(id='profileStatsScreen', class='screen')
          h3
            | Your Stats
          table#profileStatsTable

      #infoArea
        #directionsArea
          h2.mouseDirection
            | Mouse Directions
          h2.keyboardDirection
            | Keyboard Directions
          p.peanutGallery
            | Just, like, be awesome. And win.
            br
            br
          table(class='keyboardDirection directionsTable')
            tr
              th
                | Action
              th
                | Control
            tr
              td
                | Rotate Block
              td
                | X.
            tr
              td
                | Move Block Sideways
              td
                | Arrow key sideways from the block&apos;s fall direction.
            tr
              td
                | Drop Block
              td
                | Arrow key toward the block&apos;s fall direction.
            tr
              td
                | Switch Block Fall Direction
              td
                | Tap the arrow key away from the block&apos;s fall direction twice.
            tr
              td
                | Use Bomb
              td
                | Tap A to select a collapse bomb or S to select a settle bomb.  Then use the arrow keys to select which side to release the bomb from.  Then tap A or S again to release the bomb.
            tr
              td
                | Switch Selected Block
              td
                | Z.
            tr
              td
                | Pause Game
              td
                | Spacebar.
          table(class='mouseDirection directionsTable')
            tr
              th
                | Action
              th
                | Control
            tr
              td
                | Rotate Block
              td
                | Tap on block.
            tr
              td
                | Move Block Sideways
              td
                | Drag block sideways.
            tr
              td
                | Drop Block
              td
                | Drag block down (toward fall direction).
            tr
              td
                | Switch Block Fall Direction
              td
                | Drag block up (away from current fall direction).
            tr
              td
                | Use Bomb
              td
                | Tap on either the collapse or settle bomb area.  Then tap on which side to release the bomb from.
            tr
              td
                | Pause Game
              td
                | Spacebar.

        hr

        #optionsArea
          h2
            | Options
          div
            label
              input(type='checkbox', name='keyboardControlCB', id='keyboardControlCB', class='modeCB', value='keyboardControlCB')
              |  Enable keyboard control
            span(id='keyboardControlCBDefaultComment', class='peanutGallery')
              | Guaranteed to increase your WPM or your money back!
            
            .customControl
              br
              label
                input(type='checkbox', name='completeSquaresCB', id='completeSquaresCB', class='modeCB', value='completeSquaresCB')
                |  Completing squares instead of lines
                span(id='completeSquaresCBDefaultComment', class='peanutGallery')
                  | Totally four times as much fun
              
              br
              label
                input(type='checkbox', name='blocksFallPastCenterCB', id='blocksFallPastCenterCB', class='modeCB', value='blocksFallPastCenterCB')
                |  Blocks are allowed to fall past the center
                span(id='blocksFallPastCenterCBOffComment', class='peanutGallery')
                  | I&apos;ll bet you also need bumpers when you bowl...
                span(id='blocksFallPastCenterCBOnComment', class='peanutGallery')
                  | You&apos;re gonna miss the center...
              
              br
              label
                input(type='checkbox', name='changeFallDirectionCB', id='changeFallDirectionCB', class='modeCB', value='changeFallDirectionCB', checked)
                |  Able to change falling direction of blocks
                span(id='changeFallDirectionCBOffComment', class='peanutGallery')
                  | Aw, don&apos;t be constrained to just one dimension
                span(id='changeFallDirectionCBOnComment', class='peanutGallery')
                  | Whoo hoo! Now we can spin around in circles!
              
              br
              label
                input(type='checkbox', name='changeQuadrantWithFallDirectionCB', id='changeQuadrantWithFallDirectionCB', class='modeCB', value='changeQuadrantWithFallDirectionCB', checked)
                |  Changing direction moves block to next quadrant
                span(id='changeQuadrantWithFallDirectionCBDefaultComment', class='peanutGallery')
                  | Where&apos;d it go?!
              
              br
              label
                input(type='checkbox', name='settleWithCollapseCB', id='settleWithCollapseCB', class='modeCB', value='settleWithCollapseCB')
                |  Collapsing a layer causes higher layers to &quot;settle&quot;
                span(id='settleWithCollapseCBDefaultComment', class='peanutGallery')
                  | Whoo hoo! An auto mistake fixer!
              
              br
              label
                input(type='checkbox', name='settleInwardCB', id='settleInwardCB', class='modeCB', value='settleInwardCB')
                |  Layers &quot;settle&quot; inwards as well as downwards
                span(id='settleInwardCBDefaultComment', class='peanutGallery')
                  | Well, that&apos;s just confusing
              
              br
              label
                input(type='checkbox', name='bombsCB', id='bombsCB', class='modeCB', value='bombsCB', checked)
                |  Bombs on
                span(id='bombsCBOffComment', class='peanutGallery')
                  | You&apos;re no fun...
                span(id='bombsCBOnComment', class='peanutGallery')
                  | Well, duh...
              
              br
              label
                input(type='checkbox', name='fallOutwardCB', id='fallOutwardCB', class='modeCB', value='fallOutwardCB')
                |  Blow my mind
                span(id='fallOutwardCBDefaultComment', class='peanutGallery')
                  | Wait, what?
                span(id='fallOutwardCBOffComment', class='peanutGallery')
                  | Booooooring
                span(id='fallOutwardCBOnComment', class='peanutGallery')
                  | Well, aren&apos;t you brave...
              
              br
              label
                input(type='checkbox', name='consoleCB', id='consoleCB', class='modeCB', value='consoleCB')
                |  Show the debug console
                span(id='consoleCBDefaultComment', class='peanutGallery')
                  | Not that there are any bugs or anything...
              
              br
              label
                input(type='checkbox', name='peanutGalleryCB', id='peanutGalleryCB', class='modeCB', value='peanutGalleryCB')
                |  Peanut gallery
                span(id='peanutGalleryCBDefaultComment', class='peanutGallery')
                  | What? My app wasn&apos;t entertaining enough for you before?!?
              
              br
              | Size of game area: 
              select(id='gameWindowSize', class='gameParameterSelect')
                option(value='10') 10
                option(value='20') 20
                option(value='30') 30
                option(value='40', selected) 40
                option(value='50') 50
                option(value='60') 60
                option(value='70') 70
                option(value='80') 80
                option(value='90') 90
                option(value='100') 100
                option(value='120') 120
                option(value='140') 140
                option(value='160') 160
                option(value='180') 180
                option(value='200') 200
              br
              | Size of center square: 
              select(id='centerSquareSize', class='gameParameterSelect')
                option(value='2') 2
                option(value='4') 4
                option(value='6', selected) 6
                option(value='8') 8
                option(value='10') 10
                option(value='12') 12
                option(value='14') 14
                option(value='16') 16
                option(value='18') 18
                option(value='20') 20
              br
              | Number of squares in a block: 
              select(id='numberOfSquaresInABlock', class='gameParameterSelect')
                option(value='8', selected) 2-5
                option(value='7') 4-5
                option(value='6') 2-4
                option(value='5') 5
                option(value='4') 4
                option(value='3') 3
                option(value='2') 2
              br
              | Number of sides blocks fall from: 
              select(id='numberOfSidesBlocksFallFrom', class='gameParameterSelect')
                option(value='4', selected) 4
                option(value='3') 3
                option(value='2') 2
                option(value='1') 1
              br
              | Starting level: 
              select(id='startingLevel', class='gameParameterSelect')
                option(value='1', selected) 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7') 7
                option(value='8') 8
                option(value='9') 9
                option(value='10') 10
                option(value='15') 15
                option(value='20') 20

        hr

        #musicArea
          h2
            | Music
          p#nowPlaying
            | Now playing: 
            span#nowPlayingTitle
          p
            | Sorry, but not all of these songs may play during the game. Currently this app&apos;s webhost allows for only very limited data to be stored on the server.
          div(class='textColumn customControl')
            br
            label
              input(type='checkbox', name='aNightOfDizzySpells', id='aNightOfDizzySpells', value='aNightOfDizzySpells', checked)
                |  A Night of Dizzy Spells
            a(href='https://soundcloud.com/eric-skiff/a-night-of-dizzy-spells?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='allOfUs', id='allOfUs', value='allOfUs', checked)
                |  All of Us
            a(href='https://soundcloud.com/eric-skiff/all-of-us?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='arpanauts', id='arpanauts', value='arpanauts', checked)
                |  Arpanauts
            a(href='https://soundcloud.com/eric-skiff/arpanauts?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='ascending', id='ascending', value='ascending', checked)
                |  Ascending
            a(href='https://soundcloud.com/eric-skiff/ascending?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='chibiNinja', id='chibiNinja', value='chibiNinja', checked)
                |  Chibi Ninja
            a(href='https://soundcloud.com/eric-skiff/chibi-ninja?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='comeAndFindMe', id='comeAndFindMe', value='comeAndFindMe', checked)
                |  Come and Find Me
            a(href='https://soundcloud.com/eric-skiff/come-and-find-me?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='comeAndFindMeB', id='comeAndFindMeB', value='comeAndFindMeB')
                |  Come and Find Me (B Mix)
            a(href='https://soundcloud.com/eric-skiff/come-and-find-me-b-mix?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='digitalNative', id='digitalNative', value='digitalNative')
                |  Digital Native
            a(href='https://soundcloud.com/eric-skiff/digital-native?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
          div(class='textColumn customControl')
            br
            label
              input(type='checkbox', name='hhavokIntro', id='hhavokIntro', value='hhavokIntro')
                |  HHavok (Intro)
            a(href='https://soundcloud.com/eric-skiff/hhavok-intro?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='hhavokMain', id='hhavokMain', value='hhavokMain', checked)
                |  HHavok (Main)
            a(href='https://soundcloud.com/eric-skiff/hhavok-main?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='jumpshot', id='jumpshot', value='jumpshot', checked)
                |  Jumpshot
            a(href='https://soundcloud.com/eric-skiff/jumpshot?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='prologue', id='prologue', value='prologue')
                |  Prologue
            a(href='https://soundcloud.com/eric-skiff/prologue?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='searching', id='searching', value='searching', checked)
                |  Searching
            a(href='https://soundcloud.com/eric-skiff/searching?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='underclocked', id='underclocked', value='underclocked', checked)
                |  Underclocked (Underunderclocked Mix)
            a(href='https://soundcloud.com/eric-skiff/underclocked-underunderclocked?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='wereAllUnderTheStars', id='wereAllUnderTheStars', value='wereAllUnderTheStars')
                |  We&apos;re All Under the Stars
            a(href='https://soundcloud.com/eric-skiff/were-all-under-the-stars?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
            br
            label
              input(type='checkbox', name='wereTheResistors', id='wereTheResistors', value='wereTheResistors')
                |  We&apos;re the Resistors
            a(href='https://soundcloud.com/eric-skiff/were-the-resistors?in=eric-skiff/sets/resistor-anthems', target='_blank')
              | &#9654;
          p
            br
            | The talented 
            a(href='http://ericskiff.com/music/', target='_blank')
              | Eric Skiff
            |  composed of all of this music.

        hr

        #aboutArea
          h2
            | About
          p
            | This game was made by 
            a(href='../levi/')
              | Levi Lindsey
            | .  Please let him know if you have any feedback, suggestions, random thoughts or if you find any bugs!  Talk to Levi at: 
            a(href='mailto:info@jackieandlevi.com?subject=That%20Squared%20Away%20app')
              | info@jackieandlevi.com
            | !
          p
            img(src='./images/github.png', alt='Github icon')
            | If you&apos;re one of those people who think code is cool, then fork me on GitHub! 
            a(href='https://github.com/levisl176/squared_away', target='_blank')
              | https://github.com/levisl176/squared_away
          p
            img(src='./images/android.png', alt='Android icon')
            | Also, this app is coming soon to the Android marketplace.

      #console
        h2
          | Debug Console:

    script(src='/javascripts/googleanalytics.js')

    script(src='./javascripts/stacktrace-min-0.4.js')
    script(src='./javascripts/soundjs-0.4.1.min.js')

    script(src='./javascripts/logger.js')
    script(src='./javascripts/utils.js')
    script(src='./javascripts/resources.js')
    script(src='./javascripts/block.js')
    script(src='./javascripts/previewwindow.js')
    script(src='./javascripts/bombwindow.js')
    script(src='./javascripts/centersquare.js')
    script(src='./javascripts/gamewindow.js')
    script(src='./javascripts/input.js')
    script(src='./javascripts/sound.js')
    script(src='./javascripts/game.js')
    script(src='./javascripts/main.js')
