doctype 5
html
  head
    title Page Missing
    link(rel='stylesheet', href='/stylesheets/pageMissing.css')
  body
    img(src='/images/maya.jpg', alt='A cat')
    h1 Page Missing
    | Sorry, we couldn't find your page...<br><br>
    | So here's a picture of a cat!
